<h2>mago-talk</h2>


<form action='./' method='POST'>
<input type='text' name='text'>
<input type='submit' value='送信'>
<input type="hidden" name="mode" value= "<%= @body["mode"] %>">
<input type="hidden" name="context" value= "<%= @body["context"] %>">
</form>

<%= @ip %>
<%= @color %>
<div class="balloon">
<%= @body["utt"] %>
</div>
<img src="logo.png" width="400px" />
<br/><br/>
